:root {
    --bg-color: #fdfdfd;
    --bg-glay-color: #f5f5f5;
    --font-color: #232323;

    --header-bg: #0D0D0D;
    --theme-green: #92D050;
    --theme-orange: #FFA500;
    --footer-bg: #3E3E3E;

    --header-height: 90px;
    --main-width: 1600px;
    --main-lr-pd: calc((100vw - var(--main-width)) / 2);
    --key-visual-height: 600px;
    --footer-height: 80px;

    --font-size: 16px;
    --xlarge-font-size: 40px;
    --h2-font-size: 32px;
    --large-font-size: 25px;
    --nav-font-size: 20px;
}

@media screen and (max-width: 1650px) {
    :root {
        --main-width: 1200px;
    }
}

@media screen and (max-width: 1250px) {
    :root {
        --main-width: 900px;
    }
}

@media screen and (max-width: 950px) {
    :root {
        --main-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

body {
    background-color: var(--bg-color);
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", 'Noto Sans JP', "メイリオ", sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

header, section, footer {
    padding: 0 var(--main-lr-pd);
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: var(--header-bg);
    color: white;
    border-bottom: solid 3px var(--theme-green);
    height: var(--header-height);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5000;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: var(--nav-font-size);
}

nav > ul > li {
    margin-left: 1.5rem;
}

nav > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px white;
}

div.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

#key-visual {
    height: var(--key-visual-height);
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

#key-visual-text {
    position: absolute;
    bottom: 20px;
    left: var(--main-lr-pd);
    color: white;
    display: flex;
    flex-direction: column;
}

#key-visual-text div:nth-child(1) {
    font-size: var(--xlarge-font-size);
}

#key-visual-text div:nth-child(2) {
    font-size: var(--large-font-size);
}

section {
    position: relative;
    min-height: 400px;
    background-color: var(--bg-color);
}

section:nth-child(2n+1) {
    background-color: var(--bg-glay-color);
}

h1 {
    margin: 25px 0;
    display: inline-block;
    position: relative;
}

h1 > div:nth-child(1) {
    font-size: var(--xlarge-font-size);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border-bottom: solid 2px var(--theme-green);
}

main > section:nth-child(2n+1) > h1 > div:nth-child(1) {
    border-bottom: solid 2px var(--theme-orange);
}

h1 > div:nth-child(2) {
    margin-top: 2px;
    font-size: var(--font-size);
}

h1::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -30px;
    width: 30px;
    height: 30px;
    background: url(/static/accent-gr.svg) no-repeat;
}

main > section:nth-child(2n+1) > h1::before {
    background: url(/static/accent-or.svg) no-repeat;
}

h2 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
}

h2 > div:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: var(--h2-font-size);
    font-weight: 300;
}

h2 > div:nth-child(2) {
    font-size: var(--font-size);
}

h2::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 0.3rem;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url(/static/triangle-or.svg) no-repeat;
}

main > section:nth-child(2n+1) > h2::before {
    background: url(/static/triangle-gr.svg) no-repeat;
}

div.bottom-heading {
    position: absolute;
    bottom: 20px;
    right: var(--main-lr-pd);
    font-size: 200px;
    color: var(--bg-glay-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    z-index: 0;
    cursor: default;
    pointer-events: none;
    white-space: nowrap;
}

main > section:nth-child(2n+1) div.bottom-heading {
    color: var(--bg-glay-color);
}

div.section-container {
    display: flex;
    z-index: 1;
    position: relative;
}

div.section-container > div {
    flex: 1;
}

@media screen and (max-width: 768px) {
    div.section-container {
        flex-direction: column;
    }
}

p.subtitle {
    font-weight: 700;
    font-size: var(--large-font-size);
    margin: 0;
    margin-bottom: 0.25rem;
}





footer {
    height: var(--footer-height);
    background-color: var(--footer-bg);
    color: white;
    font-size: 12px;
    border-top: solid 3px var(--theme-green);
}
