:root {
    --bg-color: #fdfdfd;
    --bg-glay-color: #f7f7f7;
    --font-color: #181818;

    --header-bg: #0D0D0D;
    --theme-green: #92D050;
    --theme-orange: #FFA500;
    --theme-dark-green: #34491c;
    --footer-bg: #3E3E3E;

    --header-height: 5.5rem;
    --main-width: 100rem;
    --main-lr-pd: calc((100vw - var(--main-width)) / 2);
    --key-visual-height: 38rem;
    --footer-height: 5rem;

    --font-size: 1rem;
    --xlarge-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --large-font-size: 1.5rem;
    --nav-font-size: 1.25rem;
    --bottom-heading-font-size: 12.5rem;
}

@media screen and (max-width: 1650px) {
    :root {
        --main-width: 1300px;
        --bottom-heading-font-size: 9rem;
    }
}

@media screen and (max-width: 1350px) {
    :root {
        --main-width: 1100px;
    }
}

@media screen and (max-width: 1150px) {
    :root {
        --main-width: 900px;
        --bottom-heading-font-size: 6.25rem;
    }
}

@media screen and (max-width: 950px) {
    :root {
        --main-width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --header-height: 4rem;
        
        --xlarge-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --large-font-size: 1rem;
        --nav-font-size: 1rem;
        --bottom-heading-font-size: 12vw;
    }

    nav {
        display: none;
    }
}

body {
    background-color: var(--bg-color);
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", 'Noto Sans JP', "メイリオ", sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

a.internal-link, a.external-link {
    display: inline-block;
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    transition: .25s ease-in-out;
    position: relative;
    padding-right: 1.2rem;
    border-bottom: var(--font-color) 1px solid;
}

a.external-link {
    padding-left: 1.6rem;
}

a.internal-link::after, a.external-link:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    border: calc(0.4rem / 6) solid;
    border-color: var(--font-color) var(--font-color) transparent transparent;
    transform: rotate(45deg) translateX(-35.36%) translateY(-35.36%);
    transition: 0.15s ease-out;
}

a.internal-link:hover, a.external-link:hover {
    color: var(--theme-dark-green);
    border-bottom: var(--theme-dark-green) 1px solid;
}

a.internal-link:hover::after, a.external-link:hover::after {
    right: 0.1rem;
    border-color: var(--theme-dark-green) var(--theme-dark-green) transparent transparent;
}

a.external-link::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("/static/external-link.svg");

    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 90%;
    transform: translateY(-50%);
}

ul.simple-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.simple-list > li {
    padding-left: 1.5rem;
    margin-bottom: 0.25rem;
    position: relative;
}

ul.simple-list > li::before {
    content: '';
    position: absolute;
    left: 0.5rem;
    width: 2px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--theme-green);
}

header, section, footer {
    padding: 0 var(--main-lr-pd);
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    color: white;
    height: var(--header-height);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5000;
    border-bottom: solid 3px transparent;
    transition: 0.5s ease-in-out;
}

header.black-bg {
    background-color: var(--header-bg);
    border-bottom: solid 3px var(--theme-green);
}

#header-logo > a {
    text-decoration: none;
    color: white;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: var(--nav-font-size);
}

nav > ul > li {
    margin-left: 1.5rem;
}

nav > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px white;
}

div.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: var(--h2-font-size);
}

#key-visual {
    height: var(--key-visual-height);
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

#key-visual-text {
    position: absolute;
    bottom: 20px;
    left: var(--main-lr-pd);
    color: white;
    display: flex;
    flex-direction: column;
}

#key-visual-text div:nth-child(1) {
    font-size: var(--xlarge-font-size);
}

#key-visual-text div:nth-child(2) {
    font-size: var(--large-font-size);
}

section {
    position: relative;
    min-height: 400px;
    background-color: var(--bg-color);
}

section:nth-child(2n+1) {
    background-color: var(--bg-glay-color);
}

h1 {
    margin: 2.5rem 0 1.5rem;
    display: inline-block;
    position: relative;
}

h1 > div:nth-child(1) {
    font-size: var(--xlarge-font-size);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border-bottom: solid 2px var(--theme-green);
}

main > section:nth-child(2n+1) > h1 > div:nth-child(1) {
    border-bottom: solid 2px var(--theme-orange);
}

h1 > div:nth-child(2) {
    margin-top: 2px;
    font-size: var(--font-size);
}

h1::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -15px;
    width: 30px;
    height: 30px;
    transform: translateX(50%) translateY(-50%);
    background: url(/static/accent-gr.svg) no-repeat;
}

main > section:nth-child(2n+1) > h1::before {
    background: url(/static/accent-or.svg) no-repeat;
}

h2 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    position: relative;
}

h2 > div:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: var(--h2-font-size);
    font-weight: 300;
}

h2 > div:nth-child(2) {
    font-size: var(--font-size);
}

h2::before {
    content: '';
    position: absolute;
    top: 55%;
    left: 0.2rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat left / contain url(/static/triangle-or.svg);
}

main > section:nth-child(2n+1) h2::before {
    background: no-repeat left / contain url(/static/triangle-gr.svg);
}

h3 {
    font-weight: 500;
    font-size: var(--nav-font-size);
    padding-left: 2rem;
    position: relative;
}

h3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: no-repeat left / contain url(/static/triangle-gr.svg);
}

main > section:nth-child(2n+1) h3::before {
    background: no-repeat left / contain url(/static/triangle-or.svg);
}

div.bottom-heading {
    position: absolute;
    bottom: 20px;
    left: var(--main-lr-pd);
    font-size: var(--bottom-heading-font-size);
    color: var(--bg-glay-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    z-index: 0;
    cursor: default;
    pointer-events: none;
    white-space: nowrap;
}

h4 {
    position: relative;
    padding-left: 1.25rem;
}

h4::before {
    content: '';
    position: absolute;
    left: 0.3rem;
    width: 2px;
    height: 100%;
    background-color: var(--theme-green);
}

main > section:nth-child(2n+1) h4::before {
    background-color: var(--theme-orange);
}

main > section:nth-child(2n+1) div.bottom-heading {
    color: var(--bg-color);
}

div.section-container {
    display: flex;
    z-index: 1;
    position: relative;
    width: 100%;
    padding-bottom: 2.5rem;
}

div.section-container > div {
    flex-basis: 50%;
}

div.section-container > div:nth-child(1) {
    padding-right: 1rem;
}

div.section-container > div:nth-child(2) {
    padding-left: 1rem;
}

div.section-container > div.image > img {
    width: 100%;
    max-height: calc(70vh - var(--header-height) - 2rem);
    object-fit: contain;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    div.section-container {
        flex-direction: column;
    }

    div.section-container > div:nth-child(n) {
        padding: 0;
    }
}

p.subtitle {
    font-weight: 700;
    font-size: var(--large-font-size);
    margin: 0;
    margin-bottom: 0.25rem;
}



footer {
    height: var(--footer-height);
    background-color: var(--footer-bg);
    color: white;
    font-size: 12px;
    border-top: solid 3px var(--theme-green);
}
